@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-basis-64 {
    flex-basis: 64px;
  }
  .episodes {
    @apply w-40 h-32 p-2 bg-gray-100 ml-4 rounded-lg
  }
  .episodes-label {
    @apply h-8 leading-8 uppercase text-yellow-600 bg-gray-300 text-center rounded
  }
  .episodes-text {
    @apply mt-1 text-green-800
  }
  .line {
    @apply line-through;
  }
  .svg-btn {
    @apply w-6 h-8 flex-center ml-2
  }
  .svg-btn svg {
    @apply w-4 h-3 cursor-pointer
  }
}

@layer utilities {
  .text-indent-0 {
    text-indent: 0px
  }
  .text-indent-1 {
    text-indent: 0.25rem
  }
  .text-indent-2 {
    text-indent: 0.5rem
  }
  .text-indent-3 {
    text-indent: 0.75rem
  }
  .text-indent-4 {
    text-indent: 1rem
  }
  .text-indent-5 {
    text-indent: 1.25rem
  }
}